body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.gameField
{
    display: center;
  background: #eaeaea;
  min-height: 100px;
  height: 300px;
  padding: 10px;
  width: 280px;
  border:3px solid #e2e2e2;
  padding:20px;
  border-radius:10px;
  margin:30px auto 40px auto;
  position:relative
}

#dropDiv{
  text-align: center;
}

 .numbers{
  display: flex;
  
} 
#sumValueDiv{
 float: left;
 padding-right: 150px;
}

#sumScoreDiv{
  text-align: right;
}

.balls {
    width: 60px;
    height: 60px;
    /* margin: 30px 30px 0px 30px; */
    margin: 0 auto;
    margin-top:4px;
    border-radius: 50%;
    text-align: center;
}

.ballsfield {
  margin-top: 10px;
  height: 250px;  
  overflow: auto;
 
}

#balltable {
  height: 800px;
  padding: 10px;
  text-align: center;
  float: center;
}